@import 'vars';
.primary-button {
    background-color: $hospital-green;
    border-radius: 8px;
    border: none;
    color: $white;
    width: 100%;
    cursor: pointer;
    font-size: $md;
    font-weight: bold;
    height: 50px;
}

.primary-button--succes {
    margin-top: 14px;
    margin-bottom: 30px;
}