.layout-size {
    width: 100%;
    height: 100vh;
}

.layout-display {
    display: grid;
    place-items: center;
}

.layout-form--container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}